<html>
  <body>
   <div class="container">
    <div class="jumbotron">
        <%= form_for(@tenant) do |f| %>
          <% if @tenant.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>
                <ul>
                  <% @tenant.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
        <% end %>

  <h2>Personal Information</h2>
<div class="form-group">
    <label type="text">First Name</label>
    <%= f.text_field :firstname, autofocus: true, :class => "form-control" , :placeholder=>"Enter firstname"%>
</div>
  
<div class="form-group">
    <label type="text">Last Name</label>
    <%= f.text_field :lastname, autofocus: true, :class => "form-control" , :placeholder=>"Enter lastname"%>
</div>

<div class="form-group">
    <label type="text">Email ID</label>
    <%= f.email_field :email, autofocus: true, :class => "form-control" , :placeholder=>"Enter email"%>
</div>



<div class="form-group">
    <label type="text">Mobile number</label>
    <%= f.text_field :mobileno, autofocus: true, :class => "form-control" , :placeholder=>"Enter mobile Number"%>
</div>

 <div class="form-group">
    <label type="text">Date of Birth</label>
    <%= f.date_select :dob ,:class => "form-control"  %>
  </div>
 
 <div class="form-group">
    <label type="text">Age</label>
    <%= f.number_field :age, autofocus: true, :class => "form-control" , :placeholder=>"Enter age"%>
</div>

<div class="form-group">
   <label for="gender">Gender:</label>
   <%= radio_button :tenant, :gender, :Male%>Male
   <%= radio_button :tenant, :gender, :Female%>Female
</div>

<div class="form-group">
    <label type="text">Number of family members</label>
    <%= f.number_field :nooffamily, autofocus: true, :class => "form-control" , :placeholder=>"Enter no of members"%>
 </div>
    
 <div class="form-group">
    <label type="text">Profession</label>
    <%= f.text_field :profession, autofocus: true, :class => "form-control" , :placeholder=>"Enter profession"%>
 </div>
   
 <div class="form-group">
    <label type="text">Pancard number</label>
    <%= f.text_field :pancardno, autofocus: true, :class => "form-control" , :placeholder=>"Enter pancard Number"%>
 </div> 
  
 <div class="form-group">
  <label type="text">Permanant Address</label>
  <%= f.text_area :peraddress, :class=>"form-control" %>
</div>

 <h2>Other Details</h2>

<div class="form-group">
    <label type="text">Owner Id</label>
    <%= f.number_field :ownerid, autofocus: true, :class => "form-control" , :placeholder=>"Enter no of members"%>
</div>

  
<div class="form-group">
    <label type="text">Lease start date</label>
    <%= f.date_select :leasestartdate ,:class => "form-control"  %>
</div>

<div class="form-group">
    <label type="text">Lease end date</label>
    <%= f.date_select  :leaseenddate ,:class => "form-control"  %>
</div>
  
  
    <h2>Login Details</h2>

<div class="form-group">
    <label type="text">Username</label>
    <%= f.text_field :username, autofocus: true, :class => "form-control" , :placeholder=>"Enter username"%>
 </div> 

<div class="form-group">
    <label type="text">Password</label>
    <%= f.password_field :password, autofocus: true, :class => "form-control" , :placeholder=>"Enter password"%>
</div> 

<div class="form-group">
    <label type="text">Confirm Password</label>
    <%= f.password_field :confirmpassword, autofocus: true, :class => "form-control" , :placeholder=>"Enter confirm password"%>
</div> 

  <div class="actions">
    <%= f.submit 'Register', :class=>"btn"%>
  </div>
<% end %>
</div>
</div>
</body>
</html>
