<p id="notice"><%= notice %></p>

<h1>Listing Tenants</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Password</th>
      <th>Confirmpassword</th>
      <th>Mobileno</th>
      <th>Dob</th>
      <th>Age</th>
      <th>Profession</th>
      <th>Gender</th>
      <th>Peraddress</th>
      <th>Nooffamily</th>
      <th>Ownerid</th>
      <th>Leasestartdate</th>
      <th>Leaseenddate</th>
      <th>Pancardno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.username %></td>
        <td><%= tenant.firstname %></td>
        <td><%= tenant.lastname %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.password %></td>
        <td><%= tenant.confirmpassword %></td>
        <td><%= tenant.mobileno %></td>
        <td><%= tenant.dob %></td>
        <td><%= tenant.age %></td>
        <td><%= tenant.profession %></td>
        <td><%= tenant.gender %></td>
        <td><%= tenant.peraddress %></td>
        <td><%= tenant.nooffamily %></td>
        <td><%= tenant.ownerid %></td>
        <td><%= tenant.leasestartdate %></td>
        <td><%= tenant.leaseenddate %></td>
        <td><%= tenant.pancardno %></td>
        <td><%= link_to 'Show', tenant %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenant', new_tenant_path %>
