<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @tenant.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @tenant.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tenant.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @tenant.password %>
</p>

<p>
  <strong>Confirmpassword:</strong>
  <%= @tenant.confirmpassword %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @tenant.mobileno %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @tenant.dob %>
</p>

<p>
  <strong>Age:</strong>
  <%= @tenant.age %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @tenant.profession %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @tenant.gender %>
</p>

<p>
  <strong>Peraddress:</strong>
  <%= @tenant.peraddress %>
</p>

<p>
  <strong>Nooffamily:</strong>
  <%= @tenant.nooffamily %>
</p>

<p>
  <strong>Ownerid:</strong>
  <%= @tenant.ownerid %>
</p>

<p>
  <strong>Leasestartdate:</strong>
  <%= @tenant.leasestartdate %>
</p>

<p>
  <strong>Leaseenddate:</strong>
  <%= @tenant.leaseenddate %>
</p>

<p>
  <strong>Pancardno:</strong>
  <%= @tenant.pancardno %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
