<html>
  <body>
   <div class="container">
    <div class="jumbotron">
      <h2>Post Complain</h2>
        <%= form_for(@meeting) do |f| %>
          <% if @meeting.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2><ul>
                <% @meeting.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">
          <label type="text">Phase Name</label>
            <%= f.text_field :phase, autofocus: true, :class => "form-control" , :placeholder=>"Enter Phase Name"%>
        </div>
    
 <div class="form-group">
  <label type="text">Permanant Address</label>
  <%= f.text_area :pointsdiscussed, :class=>"form-control" %>
</div>
  
  <div class="field">
  <label type="text">Meeting Date and Time</label><br>
    <%= f.datetime_select :dateandtime %>
  </div>

  <div class="form-group">
    <label type="text">Venue</label>
    <%= f.text_field :venue, autofocus: true, :class => "form-control" , :placeholder=>"Enter Venue"%>
</div>

  
 <div class="form-group">
  <label type="text">Conclusion</label>
  <%= f.text_area :conclusion, :class=>"form-control" %>
</div>
 <div class="actions">
  <%= f.submit 'Add Meeting', :class=>"btn"%>
  </div>
<% end %>
