
<html>
  <body>
   <div class="container">
    <div class="jumbotron">

    <h1><b>Vender Form</b></h1>

              <%= form_for(@vender_reg) do |f| %>
                <% if @vender_reg.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@vender_reg.errors.count, "error") %> prohibited this vender_reg from being saved:</h2>

                    <ul>
                    <% @vender_reg.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>



        <div class="field">
                <%= f.label :Name %><br>
                <%= f.text_field :Name,autofocus: true, :class => "form-control" , :placeholder=>"Enter firstname"%>
        </div>

          <div class="field">
                  <%= f.label :Address %><br>
                  <%= f.text_area :Address,:class => "form-control"%>
          </div>
          <div class="field">
                   <%= f.label :Contact_no %><br>
                    <%= f.text_field :Contact_no,:class => "form-control"%>
          </div>
                    <div class="field">
                    <%= f.label :Date_Of_Birth %><br>
                    <%= f.date_select :DOB,:class => "form-control"%>
          </div>
         <div class="form-group">
           <label for="gender">Gender:</label>
           <%= radio_button :member, :gender, :Male%>Male
           <%= radio_button :member, :gender, :Female%>Female
         </div>
 <!--  <div class="field">
    <%= f.label :Gender %><br>
    <%= f.text_field :Gender %>
  </div> -->
  <div class="field">
    <%= f.label :Vendor_inside %>
    <%= f.check_box :Vendor_inside %>
  </div>
  <div class="field">
    <%= f.label :vender_type %><br>
    <%= f.text_field :vender_type,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Contracter_Name %><br>
    <%= f.text_field :Contracter_Name,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Contracter_N0 %><br>
    <%= f.text_field :Contracter_N0,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Contracter_period %><br>
    <%= f.number_field :Contracter_period %>
  </div>
  <div class="field">
    <%= f.label :Contract_Start_Date %><br>
    <%= f.date_select :Contract_Start_Date %>
  </div>
  <div class="field">
    <%= f.label :Pan_No %><br>
    <%= f.text_field :Pan_No,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Service_Tax %><br>
    <%= f.text_field :Service_Tax,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :TDS %><br>
    <%= f.text_field :TDS,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Salary %><br>
    <%= f.text_field :Salary,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Vendor_Outside %>
    <%= f.check_box :Vendor_Outside %>
  </div>
  <div class="field">
    <%= f.label :Vendor_Type %><br>
    <%= f.text_field :Vendor_Type,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Owner_Name %><br>
    <%= f.text_field :Owner_Name,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Tenant_Name %><br>
    <%= f.text_field :Tenant_Name,:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :Flat_no %><br>
    <%= f.number_field :Flat_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
