
<html>
  <body>
   <div class="container">

<p id="notice"><%= notice %></p>
<br><br>
<h1>Listing Vender Regs</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Contact no</th>
      <th>Dath Of Birth</th>
      <th>Gender</th>
      <th>Vendor inside</th>
      <th>Vender type</th>
      <th>Contracter name</th>
      <th>Contracter n0</th>
      <th>Contracter period</th>
      <th>Contract start date</th>
      <th>Pan no</th>
      <th>Service tax</th>
      <th>Tds</th>
      <th>Salary</th>
      <th>Vendor outside</th>
      <th>Vendor type</th>
      <th>Owner name</th>
      <th>Tenant name</th>
      <th>Flat no</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vender_regs.each do |vender_reg| %>
      <tr>
        <td><%= vender_reg.Name %></td>
        <td><%= vender_reg.Address %></td>
        <td><%= vender_reg.Contact_no %></td>
        <td><%= vender_reg.DOB %></td>
        <td><%= vender_reg.Gender %></td>
        <td><%= vender_reg.Vendor_inside %></td>
        <td><%= vender_reg.vender_type %></td>
        <td><%= vender_reg.Contracter_Name %></td>
        <td><%= vender_reg.Contracter_N0 %></td>
        <td><%= vender_reg.Contracter_period %></td>
        <td><%= vender_reg.Contract_Start_Date %></td>
        <td><%= vender_reg.Pan_No %></td>
        <td><%= vender_reg.Service_Tax %></td>
        <td><%= vender_reg.TDS %></td>
        <td><%= vender_reg.Salary %></td>
        <td><%= vender_reg.Vendor_Outside %></td>
        <td><%= vender_reg.Vendor_Type %></td>
        <td><%= vender_reg.Owner_Name %></td>
        <td><%= vender_reg.Tenant_Name %></td>
        <td><%= vender_reg.Flat_no %></td>
        <td><%= link_to 'Show', vender_reg, class: 'btn' %></td>
        <td><%= link_to 'Edit', edit_vender_reg_path(vender_reg), class: 'btn' %></td>
        <td><%= link_to 'Destroy', vender_reg, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vender reg', new_vender_reg_path %>
</div>
</body>
</html>