<html>
  <body>
    <br><br><br><br>
   <div class="container">
    <div class="jumbotron">
              <p id="notice"><%= notice %></p>


<table class= "table">

              <p><tr>
                <td><strong>Name:</strong></td>
                 <td><%= @vender_reg.Name %></td>
              </tr></p>

              <p><tr>
                 <td><strong>Address:</strong></td>
                 <td><%= @vender_reg.Address %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Contact no:</strong></td>
                 <td><%= @vender_reg.Contact_no %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Dob:</strong></td>
                 <td><%= @vender_reg.DOB %></td>
             </tr></p>

              <p><tr>
                 <td><strong>Gender:</strong></td>
                 <td><%= @vender_reg.Gender %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Vendor inside:</strong></td>
                 <td><%= @vender_reg.Vendor_inside %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Vender type:</strong></td>
                <td><%= @vender_reg.vender_type %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Contracter name:</strong></td>
                 <td><%= @vender_reg.Contracter_Name %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Contracter n0:</strong></td>
                 <td><%= @vender_reg.Contracter_N0 %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Contracter period:</strong></td>
                 <td><%= @vender_reg.Contracter_period %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Contract start date:</strong></td>
                 <td><%= @vender_reg.Contract_Start_Date %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Pan no:</strong></td>
                 <td><%= @vender_reg.Pan_No %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Service tax:</strong></td>
                 <td><%= @vender_reg.Service_Tax %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Tds:</strong></td>
                 <td><%= @vender_reg.TDS %></td>
              </tr></p>

              <p><tr>
                 <td><strong>Salary:</strong></td>
                 <td><%= @vender_reg.Salary %></td>
              </tr> </p>

              <p><tr>
                 <td><strong>Vendor outside:</strong></td>
                 <td><%= @vender_reg.Vendor_Outside %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Vendor type:</strong></td>
                 <td><%= @vender_reg.Vendor_Type %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Owner name:</strong></td>
                 <td><%= @vender_reg.Owner_Name %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Tenant name:</strong></td>
                 <td><%= @vender_reg.Tenant_Name %></td>
               </tr></p>

              <p><tr>
                 <td><strong>Flat no:</strong></td>
                 <td><%= @vender_reg.Flat_no %></td>
              </tr></p>
              </table>

              <%= link_to 'Edit', edit_vender_reg_path(@vender_reg), class: 'btn' %> |
              <%= link_to 'Back', vender_regs_path, class: 'btn'  %>
</div>
</div>
</body>
</html>