<html>
  <body>
   <div class="container">
    <div class="jumbotron">
      <h2>Post Complain</h2>
        <%= form_for(@complaint) do |f| %>
          <% if @complaint.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>
            <ul>
              <% @complaint.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            </div>
        <% end %>

<div class="form-group">
   <label for="Nature">Nature:</label>
   <%= radio_button :complaint, :nature, :Complaint%>Complaint
   <%= radio_button :complaint, :nature, :Suggestion%>Suggestion
   <%= radio_button :complaint, :nature, :Request%>Request
 </div>

 <div class="form-group">
   <label for="Type">Type:</label>
   <%= radio_button :complaint, :ctype, :Society%>Society
   <%= radio_button :complaint, :ctype, :Indivisual%>Indivisual
 </div>

<div class="form-group">
   <label for="Category">Category:</label>
   <%= f.select(:category ,['Accounts','Garden','Community Hall','Security','Lifts','Other'],{include_blank:"Select complaints category"})%>
 </div>

<div class="form-group">
  <label type="text">Description</label>
  <%= f.text_area :description, :class=>"form-control" %>
</div>
 
<div class="actions">
  <%= f.submit 'Post', :class=>"btn"%>
</div>
<% end %>
</div>
</div>
</body>
</html>