






<html>
  <body>
   <div class="container">
    <div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nature:</strong>
  <%= @complaint.nature %>
</p>

<p>
  <strong>Ctype:</strong>
  <%= @complaint.ctype %>
</p>

<p>
  <strong>Category:</strong>
  <%= @complaint.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @complaint.description %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
</div>
</div>
</body>
</html>