<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">
          <h2>Bank Account</h2>

          <%= form_for(@bankaccount) do |f| %>
            <% if @bankaccount.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@bankaccount.errors.count, "error") %> prohibited this bankaccount from being saved:</h2>

                <ul>
                <% @bankaccount.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>


        <div class="form-group">
            <label type="text">Account No</label>
            <%= f.number_field :acc_no, autofocus: true, :class => "form-control" , :placeholder=>"Enter account Number"%>
        </div>

      
        <div class="form-group">
              <label type="text">Account Name</label>
              <%= f.text_field :acc_name, autofocus: true, :class => "form-control" , :placeholder=>"Enter account Name"%>
        </div>


        <div class="form-group">
              <label type="text">Bank Name</label>
              <%= f.text_field :bank_name, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bank Name"%>
        </div>


        <div class="form-group">
              <label type="text">Bank Branch</label>
              <%= f.text_field :bank_branch, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bank Branch"%> 
        </div>

        <div class="form-group">
             <label type="text">Bank Address</label>
             <%= f.text_area :bank_add, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bank Address"%>
        </div>

        <div class="form-group">
             <label type="text">Bank Balance</label>
             <%= f.text_field :bank_balance, autofocus: true, :class => "form-control" , :placeholder=>"Enter bank Balance"%> 
        </div>

        <div class="actions">
           <%= f.submit 'Create Bank Account', class: 'btn' %>
           <%= link_to 'Back', bankaccounts_path, class: 'btn' %>

        </div>
<% end %>
</div>
</div>
</body>
</html>

