<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">


<p id="notice"><%= notice %></p>

<h1>Listing Bank Accounts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Acc no</th>
      <th>Acc name</th>
      <th>Bank name</th>
      <th>Bank branch</th>
      <th>Bank add</th>
      <th>Bank balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankaccounts.each do |bankaccount| %>
      <tr>
        <td><%= bankaccount.acc_no %></td>
        <td><%= bankaccount.acc_name %></td>
        <td><%= bankaccount.bank_name %></td>
        <td><%= bankaccount.bank_branch %></td>
        <td><%= bankaccount.bank_add %></td>
        <td><%= bankaccount.bank_balance %></td>
        <td><%= link_to 'Show', bankaccount, class: 'btn'%></td>
        <td><%= link_to 'Edit', edit_bankaccount_path(bankaccount), class: 'btn'  %></td>
        <td><%= link_to 'Destroy', bankaccount, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Bank Account', new_bankaccount_path, class: 'btn' %>


</div>
</div>
</body>
</html>