<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

          <p id="notice"><%= notice %></p>

        <table class="table">

          <p>
            <tr>
                <td><strong>Acc no:</strong></td>
                <td><%= @bankaccount.acc_no %></td>
            </tr>
          </p>

          <p>
            <tr>
                <td><strong>Acc name:</strong></td>
                <td><%= @bankaccount.acc_name %></td>
            </tr>
          </p>

          <p>
          <tr>
            <td><strong>Bank name:</strong></td>
            <td><%= @bankaccount.bank_name %></td>
          </tr>
          </p>

         <p>
         <tr>
            <td><strong>Bank branch:</strong></td>
            <td><%= @bankaccount.bank_branch %></td>
         </tr>
          </p>

          <p>
          <tr>
            <td><strong>Bank add:</strong></td>
            <td><%= @bankaccount.bank_add %></td>
          </tr>
          </p>

          <p>
          <tr>
            <td><strong>Bank balance:</strong></td>
            <td><%= @bankaccount.bank_balance %></td>
          </tr>
          </p>

        </table>
          <%= link_to 'Edit', edit_bankaccount_path(@bankaccount), class: 'btn'  %> |
          <%= link_to 'Back', bankaccounts_path, class: 'btn' %>
</div>
</div>
</body>
</html>