
<html>
  <body>
   <div class="container">
    <div class="jumbotron">
      <h2>Committ Member Registration</h2>
<%= form_for(@committmemreg) do |f| %>
  <% if @committmemreg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committmemreg.errors.count, "error") %> prohibited this committmemreg from being saved:</h2>

      <ul>
      <% @committmemreg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="form-group">
    <%= f.label :Full_Name %>
    <%= f.text_field :Full_Name, autofocus: true, :class => "form-control" , :placeholder=>"Enter fullname"%>
  </div>
<!--   <div class="field">
    <%= f.label :Full_Name %><br>
    <%= f.text_field :Full_Name %>
  </div> -->

  <div class="form-group">
   <label for="gender">Gender:</label>
   <%= radio_button :member, :gender, :Male%>Male
   <%= radio_button :member, :gender, :Female%>Female
 </div>
<!--   <div class="field">
    <%= f.label :Gender %><br>
    <%= f.text_field :Gender %>
  </div> -->

<div class="form-group">
    <%= f.label :Role %>
    <%= f.text_field :Role, autofocus: true, :class => "form-control" , :placeholder=>"Enter Role"%>
  </div>
<!--   <div class="field">
    <%= f.label :Role %><br>
    <%= f.text_field :Role %>
  </div> -->
  <div class="form-group">
    <%= f.label :Email %>
    <%= f.text_field :Email, autofocus: true, :class => "form-control" , :placeholder=>"Enter email"%>
  </div>
 <!--  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :Phase_No %><br>
    <%= f.number_field :Phase_No %>
  </div> -->
   <div class="form-group">
    <%= f.label :Phase_No %>
    <%= f.number_field :Phase_No, autofocus: true, :class => "form-control" , :placeholder=>"Enter Phase_No"%>
 </div>

<div class="form-group">
  <%= f.label :Responsible_For %>
  <%= f.text_area :Responsible_For, :class=>"form-control" %>
</div>
  <!-- <div class="field">
    <%= f.label :Responsible_For %><br>
    <%= f.text_area :Responsible_For %>
  </div> -->  
  <div class="form-group">
    <%= f.label :Start_Date %>
    <%= f.date_select :Start_Date ,:class => "form-control"  %>
  </div>
   <!-- <div class="field">
    <%= f.label :Start_Date %><br>
    <%= f.date_select :Start_Date %>
  </div> -->
   <div class="form-group">
    <%= f.label :Duration %>
    <%= f.number_field :Duration, autofocus: true, :class => "form-control" , :placeholder=>"Enter Duration"%>
 </div>
  <!-- <div class="field">
    <%= f.label :Duration %><br>
    <%= f.number_field :Duration %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
