<html>
  <body><br>
<br>
  <div class="jumbotron">
   <div class="container">

<br>

<p id="notice"><%= notice %></p>

<h1>Listing Committ Member registration</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phase no</th>
      <th>Responsible for</th>
      <th>Start date</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committmemregs.each do |committmemreg| %>
      <tr>
        <td><%= committmemreg.Full_Name %></td>
        <td><%= committmemreg.Gender %></td>
        <td><%= committmemreg.Role %></td>
        <td><%= committmemreg.Email %></td>
        <td><%= committmemreg.Phase_No %></td>
        <td><%= committmemreg.Responsible_For %></td>
        <td><%= committmemreg.Start_Date %></td>
        <td><%= committmemreg.Duration %></td>
        <td><%= link_to 'Show', committmemreg, class: 'btn' %></td>
        <td><%= link_to 'Edit', edit_committmemreg_path(committmemreg), class: 'btn' %></td>
        <td><%= link_to 'Destroy', committmemreg, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committmemreg', new_committmemreg_path, class: 'btn' %>
</div>
</div>
</body>
</html>