<html>
  <body><br>
<br><br><br>
  <div class="jumbotron">
   <div class="container">


<p id="notice"><%= notice %></p>
<table class="table">

<p><tr>
  <td><strong>Full name:</strong></td>
  <td><%= @committmemreg.Full_Name %></td>
</tr></p>

<p><tr>
  <td><strong>Gender:</strong></td>
  <td><%= @committmemreg.Gender %></td>
</tr></p>

<p><tr>
  <td><strong>Role:</strong></td>
  <td><%= @committmemreg.Role %></td>
</tr></p>

<p><tr>
  <td><strong>Email:</strong></td>
  <td><%= @committmemreg.Email %></td>
</tr></p>

<p><tr>
  <td><strong>Phase no:</strong></td>
  <td><%= @committmemreg.Phase_No %></td>
</tr></p>

<p><tr>
  <td><strong>Responsible for:</strong></td>
  <td><%= @committmemreg.Responsible_For %></td>
</tr></p>

<p><tr>
  <td><strong>Start date:</strong></td>
  <td><%= @committmemreg.Start_Date %></td>
</tr></p>

<p><tr>
  <td><strong>Duration:</strong></td>
  <td><%= @committmemreg.Duration %></td>
</tr></p>
</table>
<%= link_to 'Edit', edit_committmemreg_path(@committmemreg), class: 'btn' %> |
<%= link_to 'Back', committmemregs_path, class: 'btn' %>
</div>
</div>
</body>
</html>