<html>
  <body>
   <div class="container">
    <div class="jumbotron">
      <h2>Member Achivement</h2>
     <%= form_for(@memberachive) do |f| %>
  <% if @memberachive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memberachive.errors.count, "error") %> prohibited this memberachive from being saved:</h2>

      <ul>
      <% @memberachive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :FullName %><br>
    <%= f.text_field :FullName, autofocus: true, :class => "form-control" , :placeholder=>"FullName"%>
  </div>
  <div class="field">
    <%= f.label :Achievement %><br>
    <%= f.text_field :Achievement, autofocus: true, :class => "form-control" , :placeholder=>"Achievement"%>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
     <%= f.text_area :Description, autofocus: true, :class => "form-control" , :placeholder=>"Description"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  
  </div>
<% end %>
</div>
</div>
</body>
</html>
