<p id="notice"><%= notice %></p>

<h1>Listing Memberachives</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Achievement</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberachives.each do |memberachive| %>
      <tr>
        <td><%= memberachive.FullName %></td>
        <td><%= memberachive.Achievement %></td>
        <td><%= memberachive.Description %></td>
        <td><%= link_to 'Show', memberachive %></td>
        <td><%= link_to 'Edit', edit_memberachive_path(memberachive) %></td>
        <td><%= link_to 'Destroy', memberachive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memberachive', new_memberachive_path %>
