<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @memberachive.FullName %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @memberachive.Achievement %>
</p>

<p>
  <strong>Description:</strong>
  <%= @memberachive.Description %>
</p>

<%= link_to 'Edit', edit_memberachive_path(@memberachive) %> |
<%= link_to 'Back', memberachives_path %>
