<html>
  <body>
   <div class="container">
    <div class="jumbotron">
     <h2>Discount Details</h2>
        <%= form_for(@discountdetail) do |f| %>
          <% if @discountdetail.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@discountdetail.errors.count, "error") %> prohibited this discountdetail from being saved:</h2>

              <ul>
              <% @discountdetail.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>


 

          <div class="form-group">
               <label type="text">Discount Description</label>
               <%= f.text_area :discount_desc, autofocus: true, :class => "form-control" , :placeholder=>"Discount Description" %>
          </div>


          <div class="form-group">
              <label type="text">Discount Amount</label>
              <%= f.text_field :disfix_amt, autofocus: true, :class => "form-control" , :placeholder=>"Discount Amount" %>
          </div>


          <div class="form-group">
              <label type="text">Discount Percentages</label>
              <%= f.text_field :dis_percentages, autofocus: true, :class => "form-control" , :placeholder=>"Discount Percentage" %>
          </div>


          <div class="actions">
                <%= f.submit 'Get Discount', class: 'button' %>
                <%= link_to 'Back', discountdetails_path %>
          </div>
      <% end %>
</div>
</div>
</body>
</html>

