<p id="notice"><%= notice %></p><br>

<h1>Listing Discount Details</h1>

<table>
<table class="table table-bordered">  <thead>
    <tr>
      <th>Discount desc</th><t>
      <th>Disfix amt</th><t>
      <th>Dis percentages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discountdetails.each do |discountdetail| %>
      <tr>
        <td><%= discountdetail.discount_desc %></td>
        <td><%= discountdetail.disfix_amt %></td>
        <td><%= discountdetail.dis_percentages %></td>
        <td><%= link_to 'Show', discountdetail %></td>
        <td><%= link_to 'Edit', edit_discountdetail_path(discountdetail) %></td>
        <td><%= link_to 'Destroy', discountdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discountdetail', new_discountdetail_path %>
