

<p id="notice"><%= notice %></p>

<p>
  <strong>Discount desc:</strong>
  <%= @discountdetail.discount_desc %>
</p>

<p>
  <strong>Disfix amt:</strong>
  <%= @discountdetail.disfix_amt %>
</p>

<p>
  <strong>Dis percentages:</strong>
  <%= @discountdetail.dis_percentages %>
</p>

<%= link_to 'Edit', edit_discountdetail_path(@discountdetail) %> |
<%= link_to 'Back', discountdetails_path %>
