<html>
  <body>
   <div class="container">
    <div class="jumbotron">
        <h2>classified</h2>
<%= form_for(@classified) do |f| %>
  <% if @classified.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classified.errors.count, "error") %> prohibited this classified from being saved:</h2>

      <ul>
      <% @classified.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :AddTitle %><br>
   <%= f.text_field :AddTitle, autofocus: true, :class => "form-control" , :placeholder=>"AddTitle"%>
  </div>
  <div class="field">
    <%= f.label :Wing %><br>
    <%= f.text_field :Wing %>
  </div>
  <div class="field">
    <%= f.label :FlatNo %><br>
    <%= f.number_field :FlatNo %>
  </div>
  <div class="field">
    <%= f.label :ContactNo %><br>
    <%= f.text_field :ContactNo %>
  </div>
  <div class="field">
    <%= f.label :choose %><br>
    <%= radio_button :classified, :choose, :Rent%>Rent
   <%= radio_button :classified, :choose, :Sell%>sell
  </div>
  <div class="field">
    <%= f.label :Rate %><br>
    <%= f.number_field :Rate %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
       <%= f.text_area :Description, autofocus: true, :class => "form-control" , :placeholder=>"Description"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>
</div>
</body>
</html>
