<p id="notice"><%= notice %></p>

<h1>Listing Classifieds</h1>

<table>
  <thead>
    <tr>
      <th>Addtitle</th>
      <th>Wing</th>
      <th>Flatno</th>
      <th>Contactno</th>
      <th>Choose</th>
      <th>Rate</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classifieds.each do |classified| %>
      <tr>
        <td><%= classified.AddTitle %></td>
        <td><%= classified.Wing %></td>
        <td><%= classified.FlatNo %></td>
        <td><%= classified.ContactNo %></td>
        <td><%= classified.choose %></td>
        <td><%= classified.Rate %></td>
        <td><%= classified.Description %></td>
        <td><%= link_to 'Show', classified %></td>
        <td><%= link_to 'Edit', edit_classified_path(classified) %></td>
        <td><%= link_to 'Destroy', classified, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified', new_classified_path %>
