<p id="notice"><%= notice %></p>

<p>
  <strong>Addtitle:</strong>
  <%= @classified.AddTitle %>
</p>

<p>
  <strong>Wing:</strong>
  <%= @classified.Wing %>
</p>

<p>
  <strong>Flatno:</strong>
  <%= @classified.FlatNo %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @classified.ContactNo %>
</p>

<p>
  <strong>Choose:</strong>
  <%= @classified.choose %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @classified.Rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classified.Description %>
</p>

<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>
