<html>
  <body>
   <div class="container">
    <div class="jumbotron">
      <h2><center>Noticeboard</center></h2>
<%= form_for(@noticeboard) do |f| %>
  <% if @noticeboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noticeboard.errors.count, "error") %> prohibited this noticeboard from being saved:</h2>

      <ul>
      <% @noticeboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :Title %>
    <%= f.text_field :Title, autofocus: true, :class => "form-control" , :placeholder=>"Enter Title"%>
  </div>
  <!-- <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :Title %>
  </div> -->
  <div class="form-group">
  <%= f.label :Description %>
  <%= f.text_area :Description, :class=>"form-control" %>
</div>
  <!-- <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :Description %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :Valid_until %><br>
    <%= f.date_select :Valid_until %>
  </div> -->
<div class="form-group">
    <%= f.label :Valid_until %>
    <%= f.date_select :Valid_until ,:class => "form-control"  %>
  </div>
   <div class="form-group">
    <%= f.label :Attach_file %>
    <%= f.text_field :Attach_file, autofocus: true, :class => "form-control"  %>
  </div>
 
  <!-- <div class="field">
    <%= f.label :Attach_file %><br>
    <%= f.text_field :Attach_file %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
