<p id="notice"><%= notice %></p>

<h1>Listing Noticeboards</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Valid until</th>
      <th>Attach file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticeboards.each do |noticeboard| %>
      <tr>
        <td><%= noticeboard.Title %></td>
        <td><%= noticeboard.Description %></td>
        <td><%= noticeboard.Valid_until %></td>
        <td><%= noticeboard.Attach_file %></td>
        <td><%= link_to 'Show', noticeboard %></td>
        <td><%= link_to 'Edit', edit_noticeboard_path(noticeboard) %></td>
        <td><%= link_to 'Destroy', noticeboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticeboard', new_noticeboard_path %>
