<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @noticeboard.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @noticeboard.Description %>
</p>

<p>
  <strong>Valid until:</strong>
  <%= @noticeboard.Valid_until %>
</p>

<p>
  <strong>Attach file:</strong>
  <%= @noticeboard.Attach_file %>
</p>

<%= link_to 'Edit', edit_noticeboard_path(@noticeboard) %> |
<%= link_to 'Back', noticeboards_path %>
