<html>
  <body><br><br>
   <div class="container">
        <div class="jumbotron">

      <h2><center>Attendance</center></h2>
<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Full_name %><br>
    <%= f.text_field :Full_name,autofocus: true, :class => "form-control" , :placeholder=>"Enter fullname"%>
  </div>
  <div class="field">
    <%= f.label :Date %><br>
    <%= f.date_select :Date,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Time_in %>
    <%= f.time_select :Time_in ,:class => "form-control"%>
    <%= f.label :Time_out %>
    <%= f.time_select :Time_out,:class => "form-control"%>
  </div>
  <div class="field">
    
  </div>
  <h3>Visitors</h3>
 <!--  -->
  <div class="field">
    <%= f.label :Owner_name %><br>
    <%= f.text_field :Owner_name,:class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Phase_no %>
    <%= f.number_field :Phase_no %>
    <%= f.label :Flat_no %>
    <%= f.number_field :Flat_no %>
  </div>
  <div class="field">
    
  </div>
  <h4>Vender</h4>
  <!-- <div class="field">
    <%= f.label :Vendor %><br>
    <%= f.text_field :Vendor %>
  </div> -->
  <div class="content">
  <div class="field">
    <%= f.label :Vendor_type %><br>
    <%= f.text_field :Vendor_type,:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :Phase_no %><br>
    <%= f.number_field :Phase_no %>
  </div>
  <div class="field">
    <%= f.label :Morning %>
    <%= f.check_box :Morning %>
    <%= f.label :Evening %>
    <%= f.check_box :Evening %>
  </div>
  <div class="field">
    
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Back', attendances_path%>

  </div>
  </div>
<% end %>
</div>
</div>
</body>
</html>