<p id="notice"><%= notice %></p>

<h1>Listing Attendances</h1>

<table>
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Date</th>
      <th>Mobile no</th>
      <th>Time in</th>
      <th>Time out</th>
      <th>Visitors</th>
      <th>Owner name</th>
      <th>Phase no</th>
      <th>Flat no</th>
      <th>Vendor</th>
      <th>Vendor type</th>
      <th>Phase no</th>
      <th>Morning</th>
      <th>Evening</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.Full_name %></td>
        <td><%= attendance.Date %></td>
        <td><%= attendance.mobile_no %></td>
        <td><%= attendance.Time_in %></td>
        <td><%= attendance.Time_out %></td>
        <td><%= attendance.visitors %></td>
        <td><%= attendance.Owner_name %></td>
        <td><%= attendance.Phase_no %></td>
        <td><%= attendance.Flat_no %></td>
        <td><%= attendance.Vendor %></td>
        <td><%= attendance.Vendor_type %></td>
        <td><%= attendance.Phase_no %></td>
        <td><%= attendance.Morning %></td>
        <td><%= attendance.Evening %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
