<html>
  <body><br>
<br><br><br>
  <div class="jumbotron">
   <div class="container">


<p id="notice"><%= notice %></p>
<table class="table">

<p><tr>
 <td> <strong>Full name:</strong></td>
  <td><%= @attendance.Full_name %></td>
</tr></p>

<p><tr>
 <td> <strong>Date:</strong></td>
  <td><%= @attendance.Date %></td>
</tr></p>

<p><tr>
  <td><strong>Mobile no:</strong></td>
  <td><%= @attendance.mobile_no %></td>
</tr></p>

<p><tr>
  <td><strong>Time in:</strong></td>
  <td><%= @attendance.Time_in %></td>
</tr></p>

<p><tr>
  <td><strong>Time out:</strong></td>
  <td><%= @attendance.Time_out %></td>
</tr></p>

<p><tr>
  <td><strong>Visitors:</strong></td>
  <td><%= @attendance.visitors %></td>
</tr></p>

<p><tr>
  <td><strong>Owner name:</strong></td>
  <td><%= @attendance.Owner_name %></td>
</p>

<p><tr>
  <td><strong>Phase no:</strong></td>
  <td><%= @attendance.Phase_no %></td>
</tr></p>

<p><tr>
  <td><strong>Flat no:</strong></td>
  <td><%= @attendance.Flat_no %></td>
</tr></p>

<p><tr>
  <td><strong>Vendor:</strong></td>
  <td><%= @attendance.Vendor %></td>
</p>

<p><tr>
  <td><strong>Vendor type:</strong></td>
  <td><%= @attendance.Vendor_type %></td>
</tr></p>

<p><tr>
  <td><strong>Phase no:</strong></td>
  <td><%= @attendance.Phase_no %></td>
</tr></p>

<p><tr>
 <td> <strong>Morning:</strong></td>
  <td><%= @attendance.Morning %></td>
</tr></p>

<p><tr>
  <td><strong>Evening:</strong></td>
  <td><%= @attendance.Evening %></td>
</tr></p>

</table>
<%= link_to 'Edit', edit_attendance_path(@attendance), class: 'btn' %> |
<%= link_to 'Back', attendances_path, class: 'btn' %>
</div>
</div>
</body>
</html>