<html>
  <body>
   <div class="container">
    <div class="jumbotron">
      <h2>Personal Registration</h2>
      <%= form_for :member, url: members_path, :class=>"form-inline" do |f| %>
          <% if @member.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
                <ul>
                  <% @member.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
        <% end %>

<div class="form-group">
  <label type="text">First Name</label>
    <%= f.text_field :firstname, autofocus: true, :class => "form-control" , :placeholder=>"Enter firstname"%>
  </div>
      
 <div class="form-group">
  <label type="text">Last Name</label>
    <%= f.text_field :lastname, autofocus: true, :class => "form-control" , :placeholder=>"Enter lastname"%>
  </div>

     <div class="form-group">
    <label type="text">Email Id</label>
    <%= f.email_field :email, autofocus: true, :class => "form-control" , :placeholder=>"Enter email"%>
  </div>

 <div class="form-group">
    <label type="text">Landline number</label>
    <%= f.text_field :landlineno, autofocus: true, :class => "form-control" , :placeholder=>"Enter landline Number"%>
  </div>

 <div class="form-group">
  <label type="text">Mobile Number</label>
    <%= f.text_field :mobileno, autofocus: true, :class => "form-control" , :placeholder=>"Enter mobile Number"%>
  </div>

 <div class="form-group">
    <label type="text">Date of Birth</label>
    <%= f.date_select :dob ,:class => "form-control"  %>
  </div>
 

 <div class="form-group">
   <label for="gender">Gender:</label>
   <%= radio_button :member, :gender, :Male%>Male
   <%= radio_button :member, :gender, :Female%>Female
 </div>


 <div class="form-group">
    <label type="text">Age</label>
    <%= f.number_field :age, autofocus: true, :class => "form-control" , :placeholder=>"Enter age"%>
 </div>
  
 <div class="form-group">
   <label type="text">Number of family members</label>
    <%= f.number_field :nooffamily, autofocus: true, :class => "form-control" , :placeholder=>"Enter no of members"%>
 </div>
    
 <div class="form-group">
   <label type="text">Profession</label>
    <%= f.text_field :profession, autofocus: true, :class => "form-control" , :placeholder=>"Enter profession"%>
 </div>
   
 <div class="form-group">
    <label type="text">Pancard Number</label>
    <%= f.text_field :pancardno, autofocus: true, :class => "form-control" , :placeholder=>"Enter pancard Number"%>
 </div> 
  
 <div class="form-group">
  <label type="text">Address</label>
  <%= f.text_area :address, :class=>"form-control" %>
</div>

<h2>Flat Registration</h2>
  
  <div class="form-group">
    <label type="text">Phase Name</label>
    <%= f.text_field :phasename , autofocus: true, :class => "form-control" , :placeholder=>"Enter phase name"%>
 </div>

 <div class="form-group">
    <label type="text">Sub Phase</label>
    <%= f.text_field :subphase , autofocus: true, :class => "form-control" , :placeholder=>"Enter sub phase name"%>
 </div>

<div class="form-group">
    <label type="text">Flat Number</label>
    <%= f.number_field :flatno, autofocus: true, :class => "form-control" , :placeholder=>"Enter flat no"%>
</div>

 <div class="form-group">
    <label type="text">Flat Type</label>
    <%= f.text_field :flattype , autofocus: true, :class => "form-control" , :placeholder=>"Enter sub flat type"%>
 </div> 
  
  <div class="form-group">
      <label type="text">Flat Area</label>
      <%= f.number_field :flatarea, autofocus: true, :class => "form-control" , :placeholder=>"Enter flat area"%>
  </div>
 

 <h2>Parking Registration</h2>

  <div class="form-group">
      <label type="text">Parking Number</label>
      <%= f.number_field :parkingno, autofocus: true, :class => "form-control" , :placeholder=>"Enter parking number"%>
  </div>

   <div class="form-group">
      <label type="text">Number of two wheelers</label>
      <%= f.number_field :nooftwowheeler, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of two wheeler"%>
  </div>

   <div class="form-group">
     <label type="text">Number of four wheelers</label>
      <%= f.number_field :nooffourwheeler, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of four wheeler"%>
  </div>

  
  <h2>Login Details</h2>

<div class="form-group">
    <label type="text">Username</label>
    <%= f.text_field :username, autofocus: true, :class => "form-control" , :placeholder=>"Enter username"%>
 </div> 

 <div class="form-group">
   <label type="text">Password</label>
    <%= f.password_field :password, autofocus: true, :class => "form-control" , :placeholder=>"Enter password"%>
 </div> 

 <div class="form-group">
   <label type="text">Confirm Password</label>>
    <%= f.password_field  :cpassword, autofocus: true, :class => "form-control" , :placeholder=>"Enter confirm password"%>
 </div> 

 

  <div class="actions">
    <%= f.submit 'Register', :class=>"btn"%>
    <%= link_to 'Back', members_path %>

  </div>

<% end %>
</div>
</div>
</body>
</html>


