


<p id="notice"><%= notice %></p>

<h1>Listing Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Landlineno</th>
      <th>Mobileno</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Nooffamily</th>
      <th>Profession</th>
      <th>Pancardno</th>
      <th>Address</th>
      <th>Phasename</th>
      <th>Subphase</th>
      <th>Flatno</th>
      <th>Flattype</th>
      <th>Flatarea</th>
      <th>Parkingno</th>
      <th>Nooftwowheeler</th>
      <th>Nooffourwheeler</th>
      <th>Username</th>
      <th>Password</th>
      <th>Cpassword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.firstname %></td>
        <td><%= member.lastname %></td>
        <td><%= member.email %></td>
        <td><%= member.landlineno %></td>
        <td><%= member.mobileno %></td>
        <td><%= member.dob %></td>
        <td><%= member.gender %></td>
        <td><%= member.age %></td>
        <td><%= member.nooffamily %></td>
        <td><%= member.profession %></td>
        <td><%= member.pancardno %></td>
        <td><%= member.address %></td>
        <td><%= member.phasename %></td>
        <td><%= member.subphase %></td>
        <td><%= member.flatno %></td>
        <td><%= member.flattype %></td>
        <td><%= member.flatarea %></td>
        <td><%= member.parkingno %></td>
        <td><%= member.nooftwowheeler %></td>
        <td><%= member.nooffourwheeler %></td>
        <td><%= member.username %></td>
        <td><%= member.password %></td>
        <td><%= member.cpassword %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
