
<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">


<p id="notice"><%= notice %></p>
        <table class="table">

            <p>
            <tr>
              <td><strong>Firstname:</strong></td>
              <td><%= @member.firstname %></td>
            </tr>
            </p>

            <p><tr>
              <td><strong>Lastname:</strong></td>
              <td><%= @member.lastname %></td>
            </tr></p>


            <p><tr>
              <td><strong>Email:</strong></td>
              <td><%= @member.email %></td>
            </tr></p>

            <p><tr>
              <td><strong>Landlineno:</strong></td>
              <td><%= @member.landlineno %></td>
           </tr> </p>

            <p><tr>
             <td><strong>Mobileno:</strong></td>
             <td> <%= @member.mobileno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Dob:</strong></td>
             <td> <%= @member.dob %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Gender:</strong></td>
              <td><%= @member.gender %></td>
            </tr></p>

            <p><tr>
              <td><strong>Age:</strong></td>
              <td><%= @member.age %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Nooffamily:</strong></td>
              <td><%= @member.nooffamily %></td>
            </tr></p>

            <p><tr>
              <td><strong>Profession:</strong></td>
              <td><%= @member.profession %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Pancardno:</strong></td>
              <td><%= @member.pancardno %></td>
            </tr></p>

            <p><tr>
              <td><strong>Address:</strong></td>
              <td><%= @member.address %></td>
           </tr></p>

            <p><tr>
              <td><strong>Phasename:</strong></td>
             <td> <%= @member.phasename %></td>
            </tr></p>

            <p><tr>
              <td><strong>Subphase:</strong></td>
              <td><%= @member.subphase %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Flatno:</strong></td>
              <td><%= @member.flatno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Flattype:</strong></td>
              <td><%= @member.flattype %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Flatarea:</strong></td>
              <td><%= @member.flatarea %></td>
            </tr></p>

            <p><tr>
              <td><strong>Parkingno:</strong></td>
              <td><%= @member.parkingno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Nooftwowheeler:</strong></td>
              <td><%= @member.nooftwowheeler %></td>
           </tr> </p>

            <p><tr>
             <td> <strong>Nooffourwheeler:</strong></td>
             <td> <%= @member.nooffourwheeler %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Username:</strong></td>
              <td><%= @member.username %></td>
            </tr></p>

            <p><tr>
              <td><strong>Password:</strong></td>
              <td><%= @member.password %></td>
            </tr></p>

            <p><tr>
             <td><strong>Cpassword:</strong></td>
              <td><%= @member.cpassword %></td>
            </tr></p>
      </table>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

</div>
</div>
</body>
</html>
